<nz-card class="div-card" nzTitle="Listagem de Pessoas">

    <div class="div-botao-add">
        <button nz-button class="botao-add" (click)="add.emit()">
            <i nz-icon nzType="user-add"></i>
        </button>
    </div>

    <div class="div-table">
        <nz-table [nzData]="pessoas">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas">
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.tipo}}</td>
                    <td>{{pessoa.email}}</td>
                    <td>{{pessoa.celular}}</td>
                    <td>
                        <button nz-button class="button-info" (click)="info.emit(pessoa.id_pessoa)">
                            <i nz-icon nzType="info"></i>
                        </button>

                        <button nz-button class="button-edit" (click)="editar.emit(pessoa.id_pessoa)">
                            <i nz-icon nzType="search"></i>
                        </button>

                        <button nz-button class="button-delete" (click)="remover.emit(pessoa.id_pessoa)">
                            <i nz-icon nzType="delete"></i>
                        </button>

                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>