.div-table {
    margin-top: 40px;
}

.button-edit {
    border-color: #faad14;
    background-color: #faad14;
    margin-left: 10px;
}

.button-delete {
    margin-left: 10px;
    border-color: #ff4d4f;
    background-color: #ff4d4f;
}

.button-info{
    border-color: #40a9ff;
    background-color: #40a9ff;
}

.div-card{
    width: 92%;
    margin: auto;
    margin-top: 50px;
    height: 566px;
}

.div-botao-add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 9px;
    margin-right: 10px;
}

.botao-add {
    border-color: #40a9ff;
    background-color: #40a9ff;
}
