<app-pessoas-list 
    [pessoas]="pessoas" 
    (editar)="acessarRotaEdicao($event)" 
    (remover)="deletePessoa($event)"
    (info)="showModal($event)"
    (add)="acessarRotaCadastro()">
</app-pessoas-list>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalhe Pessoa" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <nz-table>
            <tr>
                <th> Nome </th>
                <td> {{nome}} </td>
            </tr>

            <tr>
                <th> Tipo </th>
                <td> {{tipo}} </td>
            </tr>

            <tr *ngIf="tipo == 'PJ'">
                <th> Razão Social </th>
                <td> {{razao_social}} </td>
            </tr>

            <tr *ngIf="tipo == 'PF'">
                <th> CPF </th>
                <td> {{cpf}} </td>
            </tr>


            <tr *ngIf="tipo == 'PJ'">
                <th> CNPJ </th>
                <td> {{cnpj}} </td>
            </tr>

            <tr *ngIf="tipo == 'PF'">
                <th> Sexo </th>
                <td> {{sexo}} </td>
            </tr>

            <tr *ngIf="tipo == 'PF'">
                <th> Data Nascimento </th>
                <td> {{data_nascimento}} </td>
            </tr>

            <tr>
                <th> Email </th>
                <td> {{email}} </td>
            </tr>

            <tr>
                <th> Telefone </th>
                <td> {{telefone}} </td>
            </tr>

            <tr>
                <th> Celular </th>
                <td> {{celular}} </td>
            </tr>

            <tr>
                <th> Endereço </th>
                <td> {{endereco}} </td>
            </tr>

            <tr>
                <th> Número </th>
                <td> {{numero}} </td>
            </tr>

            <tr>
                <th> Complemento </th>
                <td> {{complemento}} </td>
            </tr>

            <tr>
                <th> Bairro </th>
                <td> {{bairro}} </td>
            </tr>

            <tr>
                <th> Cep </th>
                <td> {{cep}} </td>
            </tr>

            <tr>
                <th> Cidade </th>
                <td> {{cidade}} </td>
            </tr>

            <tr>
                <th> Estado </th>
                <td> {{uf}} </td>
            </tr>

        </nz-table>
    </ng-container>
</nz-modal>
