.botao-gravar{
    margin-left: 12px;
    background: #28a745;
    border: 1px solid #28a745;
    color: white;
}

.botao-cancelar{
    background: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}

.div-botoes{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 221px;
    margin-right: 20px;
}

.div-card{
    width: 92%;
    margin: auto;
    margin-top: 50px;
    height: 566px;
}

.data-nascimento{
    width: 100%;
}



