<nz-card class="div-card" [nzTitle]="id ? 'Editar Pessoa' : 'Cadastro de Pessoas'">
    <form nz-form [formGroup]="pessoaForm" (ngSubmit)="submit()">
        <div nz-row [nzGutter]="16">

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="nome">Nome</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['nome']"
                        nzErrorTip="Campo Nome é obrigatório!">
                        <input nz-input name="nome" type="text" id="nome" formControlName="nome"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="tipo">Tipo</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['sexo']"
                        nzErrorTip="Campo Sexo é obrigatório!" [ngClass]="{'form-submitted': formSubmitted}">
                        <nz-select formControlName="tipo" nzPlaceHolder="Selecione um tipo">
                            <nz-option nzValue="PJ" nzLabel=" Pessoa Jurídica"></nz-option>
                            <nz-option nzValue="PF" nzLabel="Pessoa Física"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div *ngIf="isPessoaJuridica" nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="razao_social">Razão Social</nz-form-label>
                <nz-form-item>
                    <nz-form-control
                        [nzValidateStatus]="pessoaForm.controls['razao_social']"
                        nzErrorTip="Campo Razão Social é obrigatório!">
                        <input nz-input name="razao_social" type="text" id="razao_social"
                            formControlName="razao_social">
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div *ngIf="isPessoaFisica" nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="cpf">Cpf</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['cpf']"
                        nzErrorTip="Campo Cpf é obrigatório!">
                        <input nz-input name="cpf" type="text" id="cpf" formControlName="cpf"
                            [textMask]="{mask: cpfMask}" [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div *ngIf="isPessoaJuridica" nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="cnpj">Cnpj</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['cnpj']"
                        nzErrorTip="Campo Cnpj é obrigatório!">
                        <input nz-input name="cnpj" type="text" id="cnpj" formControlName="cnpj"
                            [textMask]="{mask: cnpjMask}" [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div *ngIf="isPessoaFisica" nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="sexo">Sexo</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['sexo']"
                        nzErrorTip="Campo Sexo é obrigatório!" [ngClass]="{'form-submitted': formSubmitted}">
                        <nz-select nzPlaceHolder="Selecione um sexo" formControlName="sexo">
                            <nz-option nzLabel="Masculino" nzValue="M"></nz-option>
                            <nz-option nzLabel="Feminino" nzValue="F"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div *ngIf="isPessoaFisica" nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="data_nascimento">Data Nascimento</nz-form-label>
                <nz-form-item>
                    <nz-form-control 
                        [nzValidateStatus]="pessoaForm.controls['data_nascimento']"
                        nzErrorTip="Campo Nascimento é obrigatório!">
                        <nz-date-picker class="data-nascimento" formControlName="data_nascimento" nzFormat="dd/MM/yyyy">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="email">Email</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="email" type="email" id="email" formControlName="email">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="telefone">Telefone</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="telefone" type="telefone" id="telefone" formControlName="telefone"
                            [textMask]="{mask: foneFixMask}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="celular">Celular</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="celular" type="celular" id="celular" formControlName="celular"
                            [textMask]="{mask: foneCelMask}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="endereco">Endereço</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['endereco']"
                        nzErrorTip="Campo Endereço é obrigatório!">
                        <input nz-input name="endereco" type="text" id="endereco" formControlName="endereco"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="numero">Número</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['numero']"
                        nzErrorTip="Campo Número é obrigatório!">
                        <input nz-input name="numero" type="text" id="numero" formControlName="numero"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="complemento">Complemento</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="complemento" type="text" id="complemento" formControlName="complemento">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzFor="bairro">Bairro</nz-form-label>
                <nz-form-item>
                    <nz-form-control>
                        <input nz-input name="bairro" type="text" id="bairro" formControlName="bairro">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="cep">Cep</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['cep']"
                        nzErrorTip="Campo Cep é obrigatório!">
                        <input nz-input name="cep" type="text" id="cep" formControlName="cep"
                            [textMask]="{mask: cepMask}" [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="cidade">Cidade</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['cidade']"
                        nzErrorTip="Campo Cidade é obrigatório!">
                        <input nz-input name="cidade" type="text" id="cidade" formControlName="cidade"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col nzSpan="6">
                <nz-form-label nzRequired nzFor="uf">Estado</nz-form-label>
                <nz-form-item>
                    <nz-form-control [nzValidateStatus]="pessoaForm.controls['uf']"
                        nzErrorTip="Campo Uf é obrigatório!">
                        <input nz-input name="uf" type="text" id="uf" formControlName="uf"
                            [ngClass]="{'form-submitted': formSubmitted}">
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="div-botoes">
                <button nz-button type="button" class="botao-cancelar" (click)="voltarListagem()">
                    <i nz-icon nzType="close"></i>
                    Cancelar
                </button>

                <button class="botao-gravar" nz-button type="submit">
                    <i nz-icon nzType="save"></i>
                    Gravar
                </button>
            </div>
        </div>
    </form>
</nz-card>